<div
  [ngClass]="['grid-cell', theme === Theme.Dark ? 'dark-theme' : 'light-theme']"
>
  <div class="info-block">
    <div class="title">
      {{ topInfoStat.title }}
    </div>
    {{ topInfoStat.people }} people
  </div>
  <div class="info-block">
    <button class="button-info" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>View profiles</span>
      </button>
      <button mat-menu-item>
        <mat-icon>insert_chart_outlined</mat-icon>
        <span> Check promotion</span>
      </button>
    </mat-menu>

    {{ topInfoStat.percents }}
  </div>
</div>
