<div
  [ngClass]="['main-grid', theme === Theme.Dark ? 'dark-theme' : 'light-theme']"
>
  <!-- <div class="main-grid dark-theme" -->
  <!-- <div class="main-grid light-theme" -->
  <app-aside></app-aside>

  <div class="main-content">
    <div class="header-container">
      <app-header></app-header>
      <div class="info-container">
        <div class="info-content" *ngFor="let topInfoStat of topInfoStats">
          <app-info-content [topInfoStat]="topInfoStat"></app-info-content>
        </div>
      </div>
      <div class="reach-container">
        <app-audience-reach></app-audience-reach>
        <app-device-reach></app-device-reach>
      </div>
      <div class="statistics-container">
        <app-gender></app-gender>
        <app-geo></app-geo>
      </div>
    </div>
  </div>
</div>
