.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  // background: -webkit-linear-gradient(-45deg, #ea5c54 0%, #bb6dec 100%);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  font-family: "Quicksand", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.registration-card {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  background: #212427;
  height: 700px;
  width: 650px;
  border: 1px solid #4d4d4d;
  border-radius: 13px;
}

.registration-title {
  font-size: 35px;
  color: rgb(175, 177, 190);
  font-weight: 400;

  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.card-body {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-start;
}

.left-group {
  padding-left: 50px;
}

.right-group {
  padding-right: 50px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.input-group {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
  justify-content: space-between;
}

.set-input {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 16px;
  color: rgb(175, 177, 190);
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.button-section {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}

.button-submit {
  line-height: 50px;
  padding: 0 50px;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border: none;
  width: 200px;
  height: 60px;
  outline: none;

  border-radius: 15px;
  margin-bottom: 15px;

  background: -webkit-linear-gradient(
    -45deg,
    #ea5c54 0%,
    #bb6dec,
    #23a6d5 100%
  );
}

button[disabled] {
  opacity: 0.5;
  color: #666666;
}

button:hover:enabled {
  background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #6c4079 100%);
}

.input {
  padding: 5px;
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  color: #666;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-size: 14px;
  font-family: inherit;
}

.gender-group {
  padding-left: 100px;
}

.genders {
  padding-top: 5px;
}

.radio-group {
  display: flex;
}

.male-gender-padding {
  padding-right: 55px;
}

mat-datepicker-toggle {
  color: rgb(255, 34, 244);
}
