.audience-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #4d4d4d;
  border-radius: 13px;

  width: 900px;
  padding: 24px 22px 22px 24px;

  margin-bottom: 32px;
}

.audience-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.title-audience {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-right: 250px;
}

.date {
  font-size: 12px;
  padding-right: 5px;
}

.common-font {
  font-weight: 500;
  font-style: normal;
}

.stat-audience-reach {
  display: flex;
  justify-content: center;
}

.follower-audience {
  padding-left: 10px;
}

.datepicker {
  padding-right: 20px;
}

// ::ng-deep .mat-datepicker-toggle {
//   color: #cacaca;
// }

::ng-deep .mat-form-field-label {
  color: #cacaca;
}

::ng-deep .mat-datepicker-toggle {
  color: #cacaca;
}

.light-theme {
  ::ng-deep .mat-form-field-label {
    color: #4f4f4f;
  }
  ::ng-deep .mat-datepicker-toggle {
    color: #4f4f4f;
  }
  background: #fdfdff;
  color: #4f4f4f;
  border: 1px solid #ebebeb;
}

.dark-theme {
  background: #282c31;
  color: #cacaca;
}
